<div class="text-center my-2">
  <a type="button" class="btn btn-outline-primary mx-1" href="/dashboard">Dashboard</a>
  <a type="button" class="btn btn-outline-primary mx-1" href="/tourOptions">Retour</a>
</div>

<p><%= parcours.name %></p>